/target/
/.settings/
/.classpath
/.project
/common/target/
/common/.settings/
/common/.classpath
/common/.project
/vk/target/
/vk/.settings/
/vk/.classpath
/vk/.project
/telegram/target/
/telegram/.settings/
/telegram/.classpath
/telegram/.project

.qodo
